<!DOCTYPE html>
<html>
<head>
    <title>橘子后台</title>

    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap-datetimepicker.min.css">

    <style>
        td{
            padding-left: 5px;
            padding-right: 5px;
        }
    </style>
</head>
<body>

<h1>橘子后台 - 代理商明细</h1>
<div>
    <span>开始时间</span>
    <input class="form_datetime" size="16" type="text" readonly id="datetimepicker_start" style="width: 20%;">

    <span>结束时间</span>
    <input class="form_datetime" size="16" type="text" readonly id="datetimepicker_end" style="width: 20%;">

    <button>确定</button>

    <div style="margin-top: 10px">
        <table border="1" style="border-collapse:collapse;">
            <thead>
            <td>编号</td>
            <td>用户编号</td>
            <td>充值金额</td>
            <td style="width: 50px;">利润</td>
            <td>时间</td>
            <td>操作</td>
            </thead>

            <tbody>
            <% if (result == 0 && data.list.length > 0) {%>
                <% data.list.forEach(function(item){%>
                <tr>
                    <td><%= item.id%></td>
                    <td><%= item.openid%></td>
                    <td><%= item.recharge%></td>
                    <td><%= item.profile%></td>
                    <td>2<%= item.time%></td>
                    <td><a href="#">干点什么呢</a></td>
                </tr>
                <% })%>
                <td>总计</td>
                <td></td>
                <td style="color: red;"><%= data.recharge_all%></td>
                <td style="color: red;"><%= data.profile_all%></td>
                <td></td>
                <td></td>
            <% } else{%>
                <tr>
                <td>无数据</td>
            </tr>
            <% }%>

            </tbody>
        </table>
    </div>
</div>

<script src="../js/jquery-1.11.1.min.js"></script>
<script src="../js/bootstrap-datetimepicker.min.js"></script>
<script src="../js/bootstrap-datetimepicker.zh-CN.js"></script>
<script>
    var startTime = null
    var endTime = null
    $('#datetimepicker_start').datetimepicker({
        format: 'yyyy-mm-dd hh:ii:ss',  //显示格式可为yyyymm/yyyy-mm-dd/yyyy.mm.dd
        // weekStart: 1,  	//0-周日,6-周六 。默认为0
        autoclose: true,
        startView: 1,  	//打开时显示的视图。0-'hour' 1-'day' 2-'month' 3-'year' 4-'decade'
        // minView: "month",  	//最小时间视图。默认0-'hour'
        maxView: 3, 	//最大时间视图。默认4-'decade'
        todayBtn: true, 	//true时"今天"按钮仅仅将视图转到当天的日期。如果是'linked'，当天日期将会被选中。
        todayHighlight: true,	//默认值: false,如果为true, 高亮当前日期。
        initialDate: new Date(),	//初始化日期.默认new Date()当前日期
        forceParse: false,  	//当输入非格式化日期时，强制格式化。默认true
        bootcssVer: 3,	//显示向左向右的箭头
        language: 'zh-CN' //语言

    }).on("changeDate", function (ev) {
        console.log('开始时间被修改', ev.date.valueOf())
    });

    $('#datetimepicker_end').datetimepicker({
        format: 'yyyy-mm-dd hh:ii:ss',  //显示格式可为yyyymm/yyyy-mm-dd/yyyy.mm.dd
        weekStart: 1,  	//0-周日,6-周六 。默认为0
        autoclose: true,
        startView: 3,  	//打开时显示的视图。0-'hour' 1-'day' 2-'month' 3-'year' 4-'decade'
        minView: 'day',  	//最小时间视图。默认0-'hour'
// 	maxView: 4, 	//最大时间视图。默认4-'decade'
// 	todayBtn:true, 	//true时"今天"按钮仅仅将视图转到当天的日期。如果是'linked'，当天日期将会被选中。
        todayHighlight: true,	//默认值: false,如果为true, 高亮当前日期。
        initialDate: new Date(),	//初始化日期.默认new Date()当前日期
        forceParse: false,  	//当输入非格式化日期时，强制格式化。默认true
        bootcssVer: 3,	//显示向左向右的箭头
        language: 'zh-CN' //语言

    }).on("changeDate", function (ev) {
        console.log('结束时间被修改', ev.date.valueOf())
    });

</script>

</body>