<!DOCTYPE html>
<html>
<head>
    <title>橘子后台</title>

    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap-datetimepicker.min.css">
</head>
<body class="container">

    <h1>橘子后台 - 用户消费详情</h1>


    <br/><br/><br/>

    <div class="panel panel-default">
        <div class="panel-heading">用户消费明细</div>
            <table class="table">

                <thead>
                    <tr>
                        <td>消费编号</td>
                        <td>微信编号</td>
                        <td>游戏id</td>
                        <td>类型</td>
                        <td>金额变动</td>
                        <td>橘子变动</td>
                        <td>描述</td>
                        <td>金钱余额</td>
                        <td>橘子余额</td>
                        <td>时间</td>
                    </tr>
                </thead>
                <tbody>
                <% if(data != undefined || data == null){%>
                    <% data.forEach(function(item){ %>
                        <tr>
                            <td><%= item.id%></td>
                            <td><%= item.openid%></td>
                            <td><%= item.rid%></td>
                            <td><%= item.type%></td>
                            <td><%= item.differ_money%></td>
                            <td><%= item.differ_orange%></td>
                            <td><%= item.desc%></td>
                            <td><%= item.balance_money%></td>
                            <td><%= item.balance_orange%></td>
                            <td><%= item.time%></td>
                        </tr>
                    <% }) %>
                <% }else{%>
                <tr>
                    <td>无数据</td>

                </tr>
                <% }%>




                </tbody>

            </table>
        </div>
    </div>
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script>



        function getUsersHttp(){
            $.post("https://orange.geinigejuzichi.top/admin/getUsers", {
                start_time: startTime,
                end_time: 1576123932000,
                page: "0",
                size: "20"
            }, function (data,status,xhr) {
                console.log(data)
                console.log(status)
                console.log(xhr)
                var tbodyStr = ""
                for(var i=0; i<data.data.length; i++){
                    tbodyStr += "<tr>" +
                        "<td>" + data.data[i].id + "</td>" +
                        "<td>" + data.data[i].nickName + "</td>" +
                        "<td>" + data.data[i].channel + "</td>" +
                        "<td>" + data.data[i].time + "</td>" +
                        "</tr>";
                }
                document.getElementsByTagName("tbody")[0].innerHTML = tbodyStr;
            })
        }

    </script>

</body>