<!DOCTYPE html>
<html>
<head>
    <title>橘子后台</title>
</head>
<body>

<h1>橘子后台 - 代理商列表</h1>

<table border="1" style="border-collapse:collapse;">
    <thead>
    <td>代理商名称</td>
    <td>用户总数</td>
    <td>充值总数</td>
    <td>利润总数</td>
    <td>充值总笔数</td>
    <td>操作</td>
    </thead>

    <tbody>
    <% if (result == 0 && data.list.length > 0) { %>
    <% data.list.forEach(function(item){ %>
    <tr>
        <td>
            <%= item.channel %>
        </td>
        <td>
            <%= item.total %>
        </td>
        <td>
            <%= item.recharge %>
        </td>
        <td>
            <%= item.profile %>
        </td>
        <td>
            <%= item.recharge_times %>
        </td>
        <td>
            <a href="channel?channel=<%= item.channel%>">查看详情</a>
        </td>
    </tr>
    <% }) %>
    <tr>
        <td style="color: red;">总计</td>
        <td style="color: red;"><%= data.total_all %></td>
        <td style="color: red;"><%= data.recharge_all %></td>
        <td style="color: red;"><%= data.profile_all %></td>
        <td style="color: red;"><%= data.recharge_times_all %></td>
    </tr>
    <% }else{ %>
    <tr>
        <td>无数据</td>
        <td>无数据</td>
    </tr>
    <% } %>
    </tbody>


</table>

</body>
</html>
