<!DOCTYPE html>
<html>
<head>
    <title>橘子后台</title>

    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap-datetimepicker.min.css">
</head>
<body class="container">

    <h1>橘子后台 - 提现</h1>


    <br/><br/><br/>

    <div class="提现记录">
        <div class="panel-heading">用户消费明细</div>
            <table class="table">

                <thead>
                    <tr>
                        <td>编号</td>
                        <td>提现类型</td>
                        <td>用户编号</td>
                        <td>橘子个数</td>
                        <td>支付费用</td>
                        <td>邮费状态</td>
                        <td>收货地址</td>
                        <td>电话</td>
                        <td>收件人</td>
                        <td>订单状态</td>
                        <td>时间</td>
                    </tr>
                </thead>
                <tbody>
                <% if(result == 0){%>
                    <% data.forEach(function(item){ %>
                        <tr>
                            <td><%= item.id%></td>
                            <td><%= item.type%></td>
                            <td><%= item.openid%></td>
                            <td><%= item.orange_number%></td>
                            <td><%= item.money%></td>
                            <td><%= item.payment%></td>
                            <td><%= item.addr%></td>
                            <td><%= item.tel%></td>
                            <td><%= item.consignee%></td>
                            <td><%= item.state%>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        修改
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        <li><a href="javascript:void(0);" onclick="updateSate(<%= item.id%>, 0)">未处理</a></li>
                                        <li><a href="javascript:void(0);" onclick="updateSate(<%= item.id%>, 1)">未付邮费</a></li>
                                        <li><a href="javascript:void(0);" onclick="updateSate(<%= item.id%>, 2)">未发货</a></li>
                                        <li><a href="javascript:void(0);" onclick="updateSate(<%= item.id%>, 3)">已经发货</a></li>
                                        <li role="separator" class="divider"><a href="javascript:void(0);" onclick="updateSate(<%= item.id%>, -1)">订单取消</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td><%= item.time%></td>
                        </tr>
                    <% }) %>
                <% }else{%>
                <tr>
                    <td>无数据</td>

                </tr>
                <% }%>




                </tbody>

            </table>
        </div>
    </div>
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script>



        function updateSate(id, state){
            console.log("输出参数:" + id + ", " +state)
            $.post("https://orange.geinigejuzichi.top/admin/getUsers", {
                id: id,
                state: state
            }, function (data,status,xhr) {
                console.log(data)
                console.log(status)
                console.log(xhr)
                if(data.result == 0){
                    alert("状态修改成功!")
                }
            })
        }

    </script>

</body>