<!DOCTYPE html>
<html>
<head>
    <title>橘子后台</title>

    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap-datetimepicker.min.css">
</head>
<body class="container">

    <h1>橘子后台 - 代理商列表</h1>
    <% if(data.total != undefined){%>
        <p>总用户数: <%= data.total%></p>
    <% }%>

    <span>开始时间</span>
    <input class="form_datetime" size="16" type="text" readonly id="datetimepicker_start" style="width: 20%;">
    <span>结束时间</span>
    <input class="form_datetime" size="16" type="text" readonly id="datetimepicker_end" style="width: 20%;">
    <button onclick="getUsersHttp()">确定</button>


    <br/><br/><br/>

    <div class="panel panel-default">
        <div class="panel-heading">用户明细</div>
            <table class="table">

                <thead>
                    <tr>
                        <td>用户编号</td>
                        <td>名称</td>
                        <td>渠道</td>
                        <td>注册时间</td>
                    </tr>
                </thead>
                <tbody>
                <% if(data.list != undefined){%>
                    <% data.forEach(function(item){ %>
                        <tr>
                            <td><%= item.id%></td>
                            <td><%= item.nickName%></td>
                            <td><%= item.channel%></td>
                            <td><%= item.time%></td>
                        </tr>
                    <% }) %>
                <% }%>




                </tbody>

            </table>
        </div>
    </div>
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/bootstrap-datetimepicker.min.js"></script>
    <script src="../js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script>

        var startTime = null
        var endTime = null
        $('#datetimepicker_start').datetimepicker({
            format: 'yyyy-mm-dd hh:ii:ss',  //显示格式可为yyyymm/yyyy-mm-dd/yyyy.mm.dd
            // weekStart: 1,  	//0-周日,6-周六 。默认为0
            autoclose: true,
            startView: 1,  	//打开时显示的视图。0-'hour' 1-'day' 2-'month' 3-'year' 4-'decade'
            // minView: "month",  	//最小时间视图。默认0-'hour'
            maxView: 3, 	//最大时间视图。默认4-'decade'
            todayBtn: true, 	//true时"今天"按钮仅仅将视图转到当天的日期。如果是'linked'，当天日期将会被选中。
            todayHighlight: true,	//默认值: false,如果为true, 高亮当前日期。
            initialDate: new Date(),	//初始化日期.默认new Date()当前日期
            forceParse: false,  	//当输入非格式化日期时，强制格式化。默认true
            bootcssVer: 3,	//显示向左向右的箭头
            language: 'zh-CN' //语言

        }).on("changeDate", function (ev) {
            console.log('开始时间被修改', ev.date.valueOf())
            startTime = ev.date.valueOf()
        });

        $('#datetimepicker_end').datetimepicker({
            format: 'yyyy-mm-dd hh:ii:ss',  //显示格式可为yyyymm/yyyy-mm-dd/yyyy.mm.dd
            weekStart: 1,  	//0-周日,6-周六 。默认为0
            autoclose: true,
            startView: 3,  	//打开时显示的视图。0-'hour' 1-'day' 2-'month' 3-'year' 4-'decade'
            minView: 'day',  	//最小时间视图。默认0-'hour'
            // 	maxView: 4, 	//最大时间视图。默认4-'decade'
            // 	todayBtn:true, 	//true时"今天"按钮仅仅将视图转到当天的日期。如果是'linked'，当天日期将会被选中。
            todayHighlight: true,	//默认值: false,如果为true, 高亮当前日期。
            initialDate: new Date(),	//初始化日期.默认new Date()当前日期
            forceParse: false,  	//当输入非格式化日期时，强制格式化。默认true
            bootcssVer: 3,	//显示向左向右的箭头
            language: 'zh-CN' //语言

        }).on("changeDate", function (ev) {
            console.log('结束时间被修改', ev.date.valueOf())
            endTime = ev.date.valueOf()
        });

        function getUsersHttp(){
            $.post("https://orange.geinigejuzichi.top/admin/getUsers", {
                start_time: startTime,
                end_time: 1576123932000,
                page: "0",
                size: "20"
            }, function (data,status,xhr) {
                console.log(data)
                console.log(status)
                console.log(xhr)
                var tbodyStr = ""
                for(var i=0; i<data.data.length; i++){
                    console.log(data.data[i].openid)
                    tbodyStr += "<tr>" +
                        "<td><a href='https://orange.geinigejuzichi.top/admin/getConsume?openid=" + data.data[i].openid+ "'>" + data.data[i].id + "</a></td>" +
                        "<td>" + data.data[i].nickName + "</td>" +
                        "<td>" + data.data[i].channel + "</td>" +
                        "<td>" + data.data[i].time + "</td>" +
                        "</tr>";
                }
                document.getElementsByTagName("tbody")[0].innerHTML = tbodyStr;
            })
        }

        getUsersHttp()
    </script>

</body>